body {
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main {
    margin: 3vw 20vw 6vw;
}
nav ul {
    display: flex;
    list-style: none;
    gap: 1.5em;
    padding: 0;
}
.row {
    display: flex;
    justify-content: space-between;
}
.cat-info {
    flex-basis: 50%;
    flex-shrink: 0;
}
.cat-image {
    flex-basis: 40%;
    flex-shrink: 0;
    img {
        max-width: 100%;
    }
}